
.clear {
	clear: both;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 14px;
	line-height: 1.2;
	text-align: left;
	text-transform: uppercase;
}

h3,
h4,
h5,
h6 {
	font-weight: bold;
	word-wrap: break-word;
}

h1 {
	overflow: hidden;
	font-weight: 400;
	font-size: 24px;
	line-height: 26px;
	color: rgba(39, 40, 44, 0.95);
	margin: 0 0 40px 0;
}

h2 {
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	color: rgba(39, 40, 44, 0.95);
	margin: 0 0 40px 0;
}

h3 {
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	margin: 0 0 15px 0;
	color: rgba(39, 40, 44, 0.95);
}

h4 {
	font-weight: 400;
	font-size: 18px;
	line-height: 18px;
	margin: 0 0 15px 0;
	color: rgba(39, 40, 44, 0.95);
}

h5 {
	font-weight: 400;
	font-size: 17px;
	line-height: 17px;
	margin: 0 0 15px 0;
}

h6 {
	font-weight: 400;
	font-size: 15px;
	line-height: 16px;
	margin: 0 0 10px 0;
}

p {
	margin: 0 0 20px 0;
	color: rgba(39, 40, 44, 0.95);
}

a {
	color: #75797c;
}

a,
a:visited {
	text-decoration: underline;
	-webkit-transition: color 0.2s ease 0s;
	transition: color 0.2s ease 0s;
	outline: none;
}

a:visited {
	outline: none;
}

a:hover,
a:focus {
	color:#75797c;
	text-decoration: none;
	outline: none;
}

a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
	outline: none;
}

pre {
	background: rgba(39, 40, 44, 0.95);
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 20px;
}

pre,
code {
	color: rgba(39, 40, 44, 0.95);
	font-family: "Consolas", "Courier New", "Nimbus Mono L", monospace;
	font-size: 12px;
	overflow: hidden;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	line-height: 20px;
}

q {
	quotes: "«" "»";
	font-style: italic;
}

q q {
	quotes: "„" "“";
	font-style: italic;
}

blockquote {
	font-style: italic;
	text-align: left;
	border-left: 3px solid #e0e2e3;
	padding: 0 0 0 14px;
	margin-bottom: 40px;
	color: #131313;
	font-size: 16px;
}

blockquote q {
	color: rgba(39, 40, 44, 0.95);
	font-size: 14px;
	line-height: 20px;
	padding: 10px 0;
}

blockquote p {
	color: #131313;
	padding-bottom: 0;
}

blockquote cite {
	color: rgba(39, 40, 44, 0.95);
	font-size: 12px;
}

abbr {
	border-bottom: thin dashed;
	cursor: help;
	font-style: italic;
}

i {
	font-style: oblique;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 0 0 36px 0;
	border: 1px solid rgba(39, 40, 44, 0.95);
	margin-top: 22px;
}

table caption {
	color: #282828;
	font-size: 14px;
	font-weight: bold;
	padding: 0;
	text-align: left;
}

th,
td {
	font-size: 16px;
	text-align: left;
	border: 1px solid rgba(39, 40, 44, 0.95);
	padding: 6px;
}

th {
	color: rgba(39, 40, 44, 0.95);
		border: 1px solid rgba(39, 40, 44, 0.95);
}

td {
	color: #282828;
	border-bottom: 1px solid rgba(39, 40, 44, 0.95);
	font-weight: normal;
}

thead,
tfoot {
	background: #75797c;
}

img {
	border: 0;
}

hr {
	background: rgba(39, 40, 44, 0.95);
	height: 1px;
}

dl {
	padding: 0 0 13px 0;
}

dt {
	font-size: 14px;
	font-weight: bold;
	color: #3d3e3f;
	padding: 0 0 7px 0;
}

dd {
	color: rgba(39, 40, 44, 0.95);
	font-size: 14px;
	font-style: normal;
	padding: 0 0 28px 0;
}

ul {
	padding-left: 30px;
	margin-bottom: 30px;
	list-style-type: disc;
}

ul  li{
	margin-bottom: 10px;
	line-height: 22px;
}

ol {
	margin-bottom: 30px;
}

ol  li{
	margin-bottom: 10px;
}

ul ul,
ol ul,
ul ol,
ol ol {
	margin-bottom: 0;
	margin-top: 4px;
}

ul ul li {
	padding-left: 17px;
}

ul li,
ol li {
	color: rgba(39, 40, 44, 0.95);
	padding-left: 10px;
}

ol ol {
	list-style-type: lower-alpha;
}

ol ol ol {
	list-style-type: decimal;
}

/**********************************
	стилизация списка
	**********************************/

ol{
	counter-reset: myCounter;
	margin-bottom: 20px;
}

ol li{
	list-style: none;
	position: relative;
	padding: 0 0 15px 39px;
}

